@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https: //cdn .jsdelivr .net/gh/Project Noonnu/noonfonts_ 2107px @1 0.1em /Pretendard-Medium.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https: //cdn .jsdelivr .net/gh/Project Noonnu/noonfonts_ 2107px @1 0.1em /Pretendard-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}